body, html{
  height: 100%;
  overflow: hidden;
}
.container-chat{
  margin: auto;
  padding: 0;
  font-size: 14px;
  height: 100%;
  font-family: $main;
  .list-right{
    width: 300px;
    float: left;
    height:100%;
  }
  .chat-box{
    width: calc(100% - 300px);
    float: left;
    border-left: 1px solid #ebebeb;
    box-sizing: border-box;
    height:100%;
  }
}
.header-chat{
  height: 70px;
  border-bottom: 1px solid #ebebeb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  .title-box{
    font-family: $main-b;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .tools-chat{
    display: flex;
    align-items: center;
    margin-right: 10px;
    .name-user{
      font-family: $main-b;
      margin-right: 10px;
      cursor: pointer;
    }
  }
  .setting{
    width: 30px;
    height: 30px;
    background: url("../images/ic-setting.png") no-repeat;
  }
}

.search-box{
  position: relative;
  padding: 10px;
  .input-search{
    width: 260px;
    height: 30px;
    @include radius(20px);
    padding-left: 20px;
    border: none;
    background: #f7f7f7;
    display: block;
    margin: auto;
    outline: 0;
  }
  .btn-search{
    background: url("../images/ic-search.png") no-repeat;
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 16px;
    right: 30px;
  }
}
.content-list{
  height: calc(100% - 120px);
  .detail-friend{
    position: relative;
    padding: 10px;
    &:hover{
      background: #f7f7f7;
      cursor: pointer;
    }
    .avt-user{
      @include radius(30px);
      width: 45px;
      float: left;
    }
    .name-friend{
      font-size: 16px;
      padding-left: 5px;
      float: left;
      padding-top: 5px;
      width: 190px;
      .tips{
        font-size: 12px;
        display: block;
      }
    }
    .date-time{
      width: 45px;
      font-size: 12px;
      position: absolute;
      top: 5px;
      right: 10px;
    }
  }
}
.input-chat-box{
  border-top: 1px solid #ebebeb;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  .box-input{
    height: 40px;
    width: calc(100% - 110px);
    border: none;
   outline: 0;
  }
  .btn-ic{
    width: 25px;
    height: 25px;
    display: block;
  }
  .btn-ic-smile{
    background: url(../images/ic-mile.png);
    margin-right: 10px;
    cursor: pointer;
  }
  .btn-ic-image{
    background: url("../images/ic-image.png");
    margin-right: 5px;
    cursor: pointer;
  }
  .ic-box{
    display: flex;
    align-items: center;
    margin-right: 20px;
    #ic-image{
      display: none;
    }
    .btn-sent{
      cursor: pointer;
      font-family: $main-b;
    }
  }
}


.content-chat-box{
  height: calc(100% - 131px);
  .date-chat{
    font-size: 18px;
    font-family: $main-b;
    padding: 20px;
    text-align: center;
  }
  .time{
    padding: 10px;
  }
  .recive-box, .send-box{
    padding: 10px 0;
  }
}
.name-message{
  margin-left: 55px;
  margin-bottom: 5px;
}
.recive-messages{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: 15px;
  .avt-chat{
    width: 30px;
    @include radius(20px);
  }
  .message{
    display: flex;
    align-items: center;
    .bg-gray{
      background: #f7f7f7;
      color: #000;
      padding: 5px 15px;
      @include radius(30px);
      max-width:70%;
      margin-left: 10px;
    }
  }
  .time, .name-message{
    font-size: 13px;
  }
}
.send-messages{
  .message{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 15px;
    .bg-blue{
      background: #028bd3;
      color: #000;
      padding: 5px 15px;
      margin-bottom: 5px;
      @include radius(30px);
      max-width:70%;
    }
  }
}
.store-ic{
  &:before{
    content: " ";
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 11px;
    background: #fff;
    bottom: -6px;
    border-top: 1px solid #bebebe;
    border-right: 1px solid #bebebe;
    @include rotate(129deg);
  }
  position: absolute;
  bottom: 90%;
  right: 60px;
  border: 1px solid #bebebe;
  padding: 6px;
  @include radius(15px);
  background: #ffffff;
  display: none;
  td{
    padding: 5px;
    img{
      cursor: pointer;
    }
  }
}
.overflow-space{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}
.message{
  .img-mes{
    border-radius: 30px;
  }
}
.blue{
  color: #028bd3;
}
.gray{
  color: #bebebe;
}
.active-gray{
  background: #f7f7f7;
}
a{
  text-decoration: none;
}
.clear-fix{
  clear: both;
}
.mCSB_inside>.mCSB_container {
  margin-right: 0;
}
